ion-header{
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
}
ion-title h1{
    color: darkblue;
    font-size: 24px;
    text-align: center;
    background-color: lightgreen;
}
ion-toolbar{
    background-color: lightgray;
    margin: 10px ;
}
ion-content{
    background-color: rgb(231, 231, 75);
    margin: 10px ;
    padding: 50px;
    border-radius: 10px;
}
ion-card{
    background-color: rgb(241, 228, 33);
    margin: 30px ;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
ion-card-header{
    color: darkred;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
img{
    border-radius: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}

ion-card-content{
    color: black;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    background-color: rgb(176, 235, 67);
    border-radius: 15px;
    font-size: larger;
    padding: 15px;
}