<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title>
        CRF
      </ion-title>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img [src]="imagem" [alt]="titulo"></ion-img>
    <span style='font-size:100px;'></span>
    <h1>{{titulo}}</h1>

    <div class="ion-text-center row">
      <h1>CRF!</h1>
      <p id="p1">URUBU!</p>
      <ion-button (click)="changeBook()">Exibir Imagem</ion-button>
    
      
    </div>
  </div>
  
  
</ion-content>