ion-img {
    height: auto;
    width: auto;
    
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/flaFundo.jpg');
    font-size: 20px;
}

ion-title{
    text-align: center;
    background-color: red;
    color: chartreuse;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
p{
    color: rgb(255, 255, 255);
}
ion-card{
    justify-content: center;
    align-items: center;
}
.row{
    background: linear-gradient(0.25turn, #c70000, #000000);
    height: auto;
    width: auto;
}